In [30]:
import yfinance as yf
import pandas as pd

# define ticker symbol
tickerSymbol = "TSLA"

# get data on this ticker
tickerData = yf.Ticker(tickerSymbol)

# get the historical prices for this ticker
tickerDf = tickerData.history(period="1d", start=start_date, end=end_date )

# print(tickerDf)

# last closing price
print(tickerDf["Close"].iloc[-1])

# # last volume
# print(tickerDf["Volume"].iloc[-1])
tickerDf.head()

230.5800018310547

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-03-12 00:00:00-04:00,177.770004,179.429993,172.410004,177.539993,87391700,0.0,0.0
2024-03-13 00:00:00-04:00,173.050003,176.050003,169.149994,169.479996,106524500,0.0,0.0
2024-03-14 00:00:00-04:00,167.770004,171.169998,160.509995,162.500000,126325700,0.0,0.0
2024-03-15 00:00:00-04:00,163.160004,165.179993,160.759995,163.570007,96971900,0.0,0.0
2024-03-18 00:00:00-04:00,170.020004,174.720001,165.899994,173.800003,108214400,0.0,0.0

In [31]:
print(tickerDf.columns)

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [32]:
import pandas as pd
import yfinance as yf  
import datetime as dt 
from datetime import date, timedelta

In [33]:
date.today()

datetime.date(2025, 3, 12)

In [34]:
print(tickerDf.shape)

(250, 7)

In [39]:



today= date.today()
d1= today.strftime("%Y-%m-%d")
d1
d2= (today-timedelta(days=365)).strftime("%Y-%m-%d")
d2


start_date=d2
end_date=d1

In [41]:
import yfinance as yf
import pandas as pd

# save the data to csv file
tickerDf.to_csv('stock_data.csv')