## Random Forest

Random Forest is a machine learning algorithm that falls under the category of ensemble learning. It's used for both classification and regression tasks. The fundamental idea behind Random Forest is to build a "forest" of decision trees during the training phase, and then use them to make predictions.

In [1]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [33]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import numpy as np

In [2]:
# load the data 
df= sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
# encode feature which are catagorical or object using for loop
for col in df.select_dtypes(include=['object', 'category']).columns:
    df[col]= LabelEncoder().fit_transform(df[col])

In [4]:
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [5]:
# split the data into X and y for classification
X = df.drop('sex', axis=1)
y = df['sex']

In [6]:
# train test split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# X_train.shape, X_test.shape

In [19]:
# create and train the model
model = RandomForestClassifier(n_estimators=205, criterion='entropy', 
                               max_depth=80, random_state=42)
model.fit(X_train, y_train)
y_pred= model.predict(X_test)

# evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Confusion Matrix")
print(confusion_matrix(y_test, y_pred))
print("Classification Report")
print(classification_report(y_test, y_pred))

Accuracy: 0.6122448979591837
Confusion Matrix
[[ 7 12]
 [ 7 23]]
Classification Report
              precision    recall  f1-score   support

           0       0.50      0.37      0.42        19
           1       0.66      0.77      0.71        30

    accuracy                           0.61        49
   macro avg       0.58      0.57      0.57        49
weighted avg       0.60      0.61      0.60        49

In [31]:
# use random forest for regression task
X= df.drop('tip', axis =1)
y= df['tip']

# train test split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# create and train the model
model = RandomForestRegressor(n_estimators=200, 
                                random_state=42)
model.fit(X_train, y_train)
y_pred= model.predict(X_test)


# evaluate the model

#evaluate the model
# print("MSE:", mean_squared_error(y_test, y_pred))
# print("R2:", r2_score(y_test, y_pred))
# print ('mean absolute error:', mean_absolute_error(y_test, y_pred))
# print("RMSE:", np.sqrt(mean_squared_error(y_test, y_pred)))

In [34]:
# now evaluate the model

#evaluate the model
print("MSE:", mean_squared_error(y_test, y_pred))
print("R2:", r2_score(y_test, y_pred))
print ('mean absolute error:', mean_absolute_error(y_test, y_pred))
print("RMSE:", np.sqrt(mean_squared_error(y_test, y_pred)))

MSE: 0.9496955984183694
R2: 0.2402261043743361
mean absolute error: 0.7704663265306128
RMSE: 0.9745232672534655